[Unit]
Description=Run a2tm Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/a2tm start
ExecStop=/usr/bin/killall aria2c

[Install]
WantedBy=default.target
